<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="icon" href="/img/weather.png">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div  class="name-content">
      {{> header}}
      <p>This site gives weather info.</p>
      <img src="img/fs_note-9-pro-ram-6-gb-128-gb-aurora-blue-183690521-jf649.jpg" class="portrait">
    </div>
    {{> footer}}
  </body>
</html>
