<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div  class="name-content">
      {{> header}}
      <h1>{{helpText}}</h1>
    </div>
    {{> footer}}
  </body>
</html>
